$bg-white: #f8f8f8;
$bg-dark: #101419;

$white: #FFF;
$blue: #497fff;
$blue-light: #5385f9;
$gray-light: #bcbfc5;
$gray-medium: #a4a4a4;
$gray-dark: #555555;
$green-light: #0fc688;
$green-dark: #3eac89;