* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  color: #0f1622;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

.text--gray {
  color: #B4BCC6;
}
.text-blue-gray {
  color: #8F9BAC;
}
.tex-blue {
  color: #8324FF;
}