@use './colors.scss' as colors;

.dark {
  background: colors.$gray-dark;
  color: colors.$white;
}
.light {
  background: colors.$white;

  > .title-span, > div .title-span, > div div .title-span {
    color: colors.$gray-light;
  }

  &-bg {
    background: colors.$bg-white;
  }
  &.area {
    background: transparent;
  }
}
// .light-bg {
// }